/*
$LastChangedBy: bdubbs $
$Date: 2015-08-10 23:53:57 +0600 (সোম, 10 আগস্ট 2015) $
*/
@import url(lfs.css);

.navfooter, .headerlinks {
   display: none;
}

div.navheader {
  position: absolute;
}

div.navheader ul,
div.navheader ul{
  display: none;
}
